@import "../../assets/styles/variables";

.wrapper {
  position: relative;
  overflow: hidden;
}
.wrapper::after {
  content: "";
  border-bottom: 1px solid #f0f2f5;
  display: block;
  position: relative;
  left: 5.4em;
}

.current_contact_item,
.contact_item {
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 17px;
}

.current_contact_item {
  background-color: $app-bg;
}

.contact_item::after {
}

.contact_item:hover {
  background-color: $chat-hover;
}

.chat_info {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.3rem;
}
.chat_name {
  margin-right: 1rem;
}
.avatar {
  border-radius: 50%;
  margin: 0 1rem;
}

.list_wrapper {
  max-height: 83vh;
  overflow: scroll;
  position: relative;
}

.empty_list {
  padding: 72px 50px;
  margin: auto auto;
  width: fit-content;
}
