@import "../../assets/styles/variables";

.chatBox {
  width: 100%;
  background-image: url("../../assets/images/chatBox-bg.jpeg");
  border-left: 1px solid #d1d7db;
  position: relative;
}

.header {
  padding: 10px 16px;
  background-color: $app-bg;
  height: 60px;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    border-bottom: 1px solid #8696a0;
  }
}

.chat_avatar {
  border-radius: 50%;
  height: 50px;
}

.chat_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  gap: 20px;

  svg {
    color: $gray;
  }
}
